.MealRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
    gap:1px;
    justify-content: space-between;
}

.MealColumn1{
    display: flex;
    flex-direction: column;
}

.MealColumn2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 10%;
}